body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.members {
  width: 33.3vw;
  height: 100vh;
}
.messege-pannel {
  width: 33.3vw;
  height: 100vh;
}
li {
  list-style: none;
  padding: 3rem 0;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
}
.send-messege {
  display: flex;
  gap: 10px;
}
